<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>猜数字游戏</title>
    <link rel="stylesheet" href="./c.css">
</head>

<body class="bg-blue-50 min-h-screen p-4">
    <div id="app" class="max-w-md mx-auto">
        <div class="panel" id="panel-mode" name="难度界面" v-show="panel['mode']">
            <h2> 🎮 猜数字游戏 </h2>

            <div>
                <button @click=" chooseMode('classic') "> 经典模式 </button>
                <button @click=" chooseMode('custom') "> 自定义模式 </button>
            </div>

            <div v-if=" game['Mode'] === 'classic' ">
                <!-- v-for="(值,键) in 对象" 如果又有v-if又有v-for就用template来当工具人 -->
                <!-- 把v-for挂在template上，v-if挂在子元素上 -->
                <!-- 如果对象是一个字典，那么值就是字典的一个分量 -->
                <template v-for=" (item,key) in classicMap ">
                    <button @click="setGameClassic(key)">
                        {{ item['name'] }} ( {{ item['len']}} 位数字 {{ item['max'] }} 次机会 )
                    </button><br>
                </template>
            </div>

            <div v-if="game['Mode']==='custom'">
                <div class="item">
                    <label>数字位数：</label>
                    <select v-model="customMap['len']" @change="setGameCustom">
                        <template v-for="(base,key) in baseMap">
                            <option :value="key"> {{key}}位数字 基础分 +{{ base[false] }} </option>
                        </template>
                    </select>
                </div>

                <div class="item">
                    <label>数字重复性：</label>
                    <select v-model="customMap['repeat']" @change="setGameCustom">
                        <option value="1"> 可重复 基础分 +{{ scores['repeat'] }}分 </option>
                        <option value="0" checked> 不可重复 基础分 + 0分 </option>
                    </select>
                </div>

                <div class="item">
                    <label>提示机制：</label>
                    <select v-model="customMap['purple']" @change="setGameCustom">
                        <option value="0" checked> 经典 比例分+20% （+{{ scores['purple'] }}分） </option>
                        <option value="1"> 紫色 比例分+0% （+ 0分） </option>
                    </select>
                </div>

                <div class="item">
                    <label>输入次数：</label>
                    <select v-model="customMap['max']" @change="setGameCustom">
                        <template v-for="(score,key) in scoreMap">
                            <option :value="key">
                                {{key}}次 比例分{{score['rate']*100}}% （+{{score['score']}}分）
                            </option>
                        </template>
                    </select>
                </div>

                <div class="text">
                    <span> 基础分： {{ scores['base'] }} 分 </span><br>
                    <span> 比例分： {{ scores['ratio'] }} 分 </span><br>
                    <span> 最终分： {{ scores['final'] }} 分 </span><br>
                    <span> 注意：若游戏失败，最终分为0分 </span><br>
                </div>
            </div>

            <div>
                <button @click="startGame"> 开始游戏 </button>
                <button @click="showPanel('score')"> 查看战绩 </button>
            </div>

            <div class="item">
                <select v-model="Music['index']">
                    <template v-for="(item,key) in AudioSrc">
                        <option :value="key"> {{ item['name'] }} </option>
                    </template>
                </select>
                <audio ref="bgm" loop preload="auto"></audio>
                <button @click="play"> {{ Music['isPlaying'] ? '⏸️' : '🎵' }} </button>
            </div>

        </div>

        <div class="panel" id="panel-game" name="游戏界面" v-show="panel['game']">
            <h2> 🎮 游戏中</h2>

            <div class="rule">
                <span> 当前难度：{{ game['Name'] }} (难度分：{{ scores['final'] }}) </span><br>
                <span> 游戏规则：</span><br>
                <span> 1.随机生成 {{ game['Len'] }} 位数字（{{ game['Repeat'] ? '可重复' : '不可重复'}}）</span><br>
                <span> 2.<span class="green">绿色数字</span> 该数字大小和当前位置都正确 </span><br>
                <span> 3.<span class="red">红色数字</span> 任何位置都没有该数字 </span><br>
                <span v-if=" !game['Purple'] ">
                    <span> 4.<span class="yellow">黄色数字</span> 该数字不应在当前位置 </span><br>
                </span>
                <span v-else>
                    <span> 4.<span class="yellow">黄色数字</span> 该数字应在当前位置左侧 </span><br>
                    <span> 5.<span class="purple">紫色数字</span> 该数字应在当前位置右侧 </span><br>
                </span>
            </div>

            <div class="text"><span> 当前输入次数： {{ game['Attempts'] }}/{{ game['Max'] }} </span></div>

            <div>
                <input type="text" v-model="game['Input']" :maxlength="game['Len']" @input="onInput"
                    :placeholder="` 请输入${game['Len']}位数字 `" :disabled="game['Win']||game['Lost']">
                <button @click="guess" :disabled="confirm()">确认</button>
            </div>

            <div class="text"><span> 提示：{{ game['Msg'] }} </span></div>

            <div>
                <div class="item">
                    <label>查看第几位数字：</label>

                    <select v-model="hint['pos']">
                        <template v-for="n in game['Len']">
                            <option :value="n-1"> {{ n }} </option>
                        </template>
                    </select>

                    <button @click="showPosHint" :disabled="hint['used']>=hint['max']">
                        提示（剩 {{ hint['max']-hint['used'] }} 次 ）
                    </button>

                </div>

                <div v-if="hint['result']!==[]" class="text">
                    <template v-for="h in hint['result']">
                        <span> {{h}} </span><br>
                    </template>
                </div>
            </div>

            <div v-if="game['List'].length !== 0">
                <div v-for="(list,i) in game['List']" class="text history-row">
                    第{{i+1}}次：
                    <template v-for="(li,index) in list.digits">
                        <span :class="list.colors[index]"> {{ li }} </span>
                    </template>
                </div>
            </div>

            <div>
                <button @click="startGame">新游戏</button>
                <button @click="showPanel('mode')">返回模式</button>
                <button @click="showPanel('score')">查看战绩</button>
            </div>

        </div>

        <div class="panel" id="panel-score" name="战绩界面" v-show=" panel['score'] ">
            <h2> 🏆最近 {{ history['max'] }} 局战绩 </h2>

            <div class="text">
                <div v-for="(h,i) in history['recent']">
                    {{i+1}}.{{h['gameName']}}
                    {{h['attempt']}}次/{{h['max']}}次
                    {{h['score']}}分 {{h['win']?'胜':'负'}}
                </div>
                <div v-if="history['recent'].length===0">暂无战绩</div>
            </div>

            <div>
                <button @click="clearRecord">清空战绩</button>
                <button @click=" showPanel('mode') ">返回模式</button>
                <button @click=" showPanel('game') ">返回游戏</button>
            </div>

        </div>

        <div class="panel" id="panel-replay" name="回放界面" v-show=" panel['replay'] ">
            <h2> 最近对局回放 </h2>

            <div>

            </div>

            <div>
                <template>
                    <span></span><br>
                </template>
            </div>

        </div>

    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./c.js"></script>

</body>

</html>